*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
}

.img{
  width: 7%;
  height: 5%;
}

nav{
    display: flex;
    flex-direction: row;
}

.paragraph-text{
    text-align: center;
}